<table border="1">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <% genres.each do |genre| %>
  <tbody>
    <tr>
      <th rowspan="5">
        <%= genre.name %>
      </th>
    </tr>
  </tbody>
  <% end %>
</table>