<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <center>
      <h1><p><b>About</b></p></h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><center>
        ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるように、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能なので可能なので可能なので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</br>
      </h2></center>
    </div>
  </div>
</div>