<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <h1><strong>会員一覧</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% @customer.each do |customer| %>
      <table>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
        </tr>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
        </tr>
      </table>
      <% end %>
      <senter>
        <%= paginate @customers %>
      </senter>
    </div>
  </div>
</div>