<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <h1><strong>会員一覧</strong></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <senter>
        <%= paginate @customers, class: "btn btn-link" %>
      </senter>
    </div>
  </div>
</div>